<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">        
        <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/static/style.css" type="text/css" />
        <title>Daily Horoscope</title>
    </head>
    <body>
        <h1>Daily Horoscope</h1>
            <h2>{{sign}}</h2>
             
            <h3>{{prediction}}</h3>
             
            <h3><a href="index">Get another horoscope</a></h3>
            
            
    </body>
</html>