<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">        
        <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/static/style.css" type="text/css" />
        <title>Daily Horoscope</title>
    </head>
    <body>
        <h1>Daily Horoscope</h1>
        <form method="POST" action="/horoscope.html">
            <h2>What is your Zodiac sign?</h2>
             <select name = "sign">
               <option value = "Aquarius">Aquarius</option>
               <option value = "Pisces">Pisces</option>
               <option value = "Aries">Aries</option>
               <option value = "Taurus">Taurus</option>
               <option value = "Gemini">Gemini</option>
               <option value = "Cancer">Cancer</option>
               <option value = "Leo">Leo</option>
               <option value = "Virgo">Virgo</option>
               <option value = "Libra">Libra</option>
               <option value = "Scorpio">Scorpio</option>
               <option value = "Sagittarius">Sagittarius</option>
               <option value = "Capricorn">Capricorn</option>
             </select>
             <br>
             <br>
            <input type="submit" value="Submit"/>
        </form>
    </body>
</html>